# Dependencies
node_modules/
pnpm-debug.log*
.npmrc

# Next.js
.next/
out/
.vercel/

# Build outputs
dist/
build/
tsconfig.tsbuildinfo

# Env & local
.env
.env.*
!.env.example

# OS / editor
.DS_Store
*.swp
